absl-py
astunparse
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
deepface
filelock
fire
flask
flatbuffers
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
mtcnn
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
PySocks
python-dateutil
pytz
requests
requests-oauthlib
retina-face
rsa
scipy
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing-extensions
tzdata
urllib3
Werkzeug
wrapt
zipp
